.game {
  position: relative;
  border: 1px solid black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

.game.centered {
  margin: 0 auto;
}

.game__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game__grid > div {
  color: white;
  display: flex;
  /* flex: 1 100px; */
  flex: 1 calc(100% / 12);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.game__grid > div:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.3);
}

.game__grid > div.selected {
  background-color: rgba(255, 0, 0, 0.5) !important;
  border-radius: 50%;
}

.increase__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9;
}

.answers {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  padding: 0 10px 0 0;
  text-align: right;
}

.answers ul {
  list-style: none;
  padding: 0;
}

.answers button {
  margin: 10px 0 0 0;
}

.answers .message {
  color: red;
  margin: 10px 0 0 0;
}
